@import "./fonts.scss";
// @import "./defaults_preventing.scss";

* {
    box-sizing: border-box;

}

body {
    font-family: 'Dinpro';
    padding: 0;
    margin: 0;
    background: #f1f2f3 !important
}

/* offsets */
.mt-30 {
    margin-top: 30px;
}

.r-15 {
    right: 15px !important;
}

.promo {
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
        max-width: 1540px !important;
    }
}

.new-items {
    padding-bottom: 30px;

    .container {
        max-width: 1540px !important;
    }
}

.kids {
    background: #fcfcfc;
    padding-top: 25px;
    padding-bottom: 20px;

    .container {
        max-width: 1540px !important;
    }
}

.electronics {
    background: #fcfcfc;
    padding-bottom: 10px;

    .container {
        max-width: 1540px !important;
    }
}

.home {
    background: #f7f7f7;
    padding-top: 30px;
    padding-bottom: 40px;

    .container {
        max-width: 1540px !important;
    }
}



.heading-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    position: relative;
}

.heading-block__view {
    position: absolute;
    right: 0px;
    font-weight: 700;
    font-size: 14px;
    color: rgb(1, 65, 161);
    background-color: inherit;
    display: block;
    padding: 4px 10px 4px;
    border-radius: 40px;
    transition: all ease 0.5s;
    border: 2px rgb(1, 65, 161) solid;

    &:hover {
        text-decoration: none;
        color: #fff;
        background: rgb(1, 65, 161);
    }
}

.heading-title {
    font-size: 35px;
    color: #344869;
    font-weight: 500;
    font-family: 'Dinpro';
}


/* banner promos */
.banner-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 16px;
}


/* banner promos end*/

/* banner new products */
/* .banner-new {
    display: flex;
    flex-wrap:wrap;
    .items-new {
        display: flex;
        width: 100%;
        justify-content: center;

        //border: 3px solid #000;
        .item-new {
            min-width: 235px;
            flex-basis: 16.66%;
            min-height: 200px;
        }
    }

} */

/* banner new products end*/



/* products styles */
.product {
    background-color: #fff;
    max-width: 340px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 30px;
    padding-top: 10px;
    padding-bottom: 110px;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;
}

.product__image {
    position: relative;
    text-align: center;
    margin-bottom: 5px;

    &::before {
        content: "";
        display: block;
        padding-top: 80%;
    }
}

.product__label__wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.product__label {
    width: 80px;
    height: 25px;
    border-radius: 0 68px 68px 0;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}

.product__addto {
    position: absolute;
    right: 9px;
    top: 0;
    z-index: 10;
}

.product__addto__button {
    position: relative;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.product__addto__button__tooltip {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    position: absolute;
    right: 30px;
    top: 0;
    margin-top: 3px;
    background-color: #fff;
    line-height: 0;
    opacity: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all .5s ease-out;
}

.wish-link .icon::before {
    color: #9b9c9e;
    font-family: ca;
    content: "\e849";
    font-size: 20px;
    display: inline-block;
}

[class*=" icon-"]::before,
[class^="icon-"]::before {
    font-family: ca;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.product__image__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

img.lazy {
    display: block;
    background-image: url(/upload/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.product__image img {
    max-width: auto;
    width: auto;
    max-height: 100%;
}

.product__label__wrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.product__new {
    background-color: #00a0e3;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: middle;
    line-height: 0;
}

.product__info {
    padding-left: 10px;
    padding-right: 10px;
}

.product__title {
    margin-bottom: 26px;
    line-height: 1.2;
}

.product-text {
    font-size: 14px;
    font-weight: 700;

    a {
        color: #2a428f;
        word-break: break-all;
    }
}

.product__bottom {
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}

.product-rating-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 12px;
}

.product__rating {
    margin-right: 25px;
    padding: 5px 0 0
}

.rating-stars {
    margin: 0 -3px;
    font-size: 0;
}

.rating__star_empty::before {
    color: #d5d6d7;
    content: "\e84a";
}

.rating__star::before {
    font-family: ca;
    content: "\e84a";
    font-size: 12px;
    color: #079fe0;
}

.link-reviews {
    color: #344869;
    opacity: .7;
    font-size: 12px;
    font-weight: 500;

    &.product__reviews span {
        margin: 0 5px 0 0;
    }
}

.product__rass {
    &::after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        -webkit-transition: all 3s ease 0s;
        transition: all 3s ease 0s;
    }

    &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        content: "";
        color: #000 !important;
        background: #2a428f;
        -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }
}

.align-items-sm-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-sm-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.price {
    border: 0;
    opacity: .8;
    font-size: 12px;
    font-weight: 500;
    color: #2b323e;
    text-decoration: none;

    .price__price {
        font-size: 16px;
        line-height: 1.1;
    }
}

b,
strong {
    font-weight: 700;
}

.product__bottom__right {
    text-align: center;
}

.btn-add-cart__icon::before {
    font-size: 20px;
    color: #2a428f;
}

.icon-024-online-shopping-cart::before {
    content: "\e82a";
}

.btn-add-cart__ok {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    margin-top: 1px;
    margin-left: 1px;
    opacity: 0;
    visibility: visible;
}

.product:hover {
    -webkit-box-shadow: 0 0 0 1px #8d9ac1;
    box-shadow: 0 0 0 1px #8d9ac1;

    .product__rass {
        color: #fff;

        .rass-price__price {
            color: #fff;
            opacity: 1;
        }

        &::before {
            left: 0;
            right: auto;
            width: 100%;
        }

        &::after {
            height: 450%;
        }
    }
}

.rass-price {
    background-color: #f0f2f5;
    text-align: center;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product_list {
    background-color: #fff;
    width: 100%;
    margin: 0 auto 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
    -webkit-box-shadow: 0 0 0 1px transparent;
    box-shadow: 0 0 0 1px transparent;

    &:hover {
        -webkit-box-shadow: 0 0 0 1px #8d9ac1;
        box-shadow: 0 0 0 1px #8d9ac1;

        .product__rass {
            color: #fff;

            .rass-price__price {
                color: #fff;
                opacity: 1;
            }

            &::before {
                left: 0;
                right: auto;
                width: 100%;
            }

            &::after {
                height: 450%;
            }
        }
    }
}

.product__feature .product__add-props-table {
    .name_f {
        color: #63686b;
    }

    .value_f {
        color: #2b323e;
        margin-left: 5px;
        font-weight: 700;
        opacity: .8;
    }
}

.rass-price__inner {
    position: relative;
    z-index: 1;
}

.product__rass {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        content: "";
        color: #000 !important;
        background: #2a428f;
        -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
    }


}

/* kids banner */
.banner-background {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-banner-left {
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.img-banner-left {
    a {
        margin: 5px;
    }
}

.img-banner-right {
    margin-top: 2%;
    margin-bottom: 1%;
}

/* kids banner end */

/* carousel buttons */
/* .slider-left {
    background: #fff;
    padding: 5px 11px;
    border: 1px solid #fff;
    box-shadow: 0px 1px 2px 2px rgb(172, 172, 172);
    border-radius: 60px;
    display: block;
    position: relative;

    z-index: 99;
    left: -2.4%;

    &:after {
        content: '<';
    }
} */

/* carousel buttons end */
.brands {
    width: 1540px !important;
    margin: auto;
}

.js-brands {
    //border: 3px solid #000;
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 1540px;
    overflow: hidden;
    margin: 30px 0 10px 0;
    display: flex;

    .slider-brands {
        width: 300% !important;
        position: relative;
        display: flex;
        padding: 10px;
        transition: all ease 0.8s;
        //border: 3px solid #000;
        left: 0;
        justify-content: space-between;

        .item-brand {
            min-width: 160px;
            margin-right: 10px;
            max-width: 180px;
        }
    }

}

/* electronics banner */
.img-banner-electronics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .electro-left {
        margin-top: 2%;
        margin-bottom: 1%;
        a{
            width: 100%;
            height: 100%;
        }
    }
    
    .electro-right {
        margin-top: 2%;
        margin-bottom: 1%;
        display: flex;
        justify-content: center; 
        a:nth-child(1){
       margin-right: 10px;
        }
        a:nth-child(2){
       margin-right: 10px;
        }
    }

  
}

/* home banner */
.gl-banner {
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;
    padding: 55px 20px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:before {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        content: "";
    }
}

.gl-banner__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.gl-banner__in {
    position: relative;
    z-index: 5;
}

.gl-banner__top-panel {
    display: flex;
    justify-content: center;
    margin: 0 0 13px;

    small {
        display: block;
        margin: 0 15px 0 0;
        color: #fff;
        font: 28px DINPro-Medium, DINPro, sans-serif;
        font-weight: 700;
        text-align: right;
        line-height: 30px;
    }

    span {
        display: block;
        color: #fff;
        font: 62px DINPro-Medium, DINPro, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 62px;
    }
}

.gl-banner {
    dl {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    dt {
        display: block;
        margin: 0 20px 0 0;
        padding: 0;
        color: #fff;
        font: 50px DINPro-Medium, DINPro, sans-serif;
        font-weight: 400;
    }

    dd {
        position: relative;
        display: block;
        margin: 0;
        padding: 2px 32px 8px;
        top: 4px;
        color: #fff;
        font: 46px DINPro, sans-serif;
        line-height: 46px;
        background: #00ba38;
        border-radius: 30px;
    }
}

.js-brands2 {
    //border: 3px solid #000;
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 1540px;
    overflow: hidden;
    margin: 30px 0 10px 0;
    display: flex;

    .slider-brands2 {
        width: 300% !important;
        position: relative;
        display: flex;
        padding: 10px;
        transition: all ease 0.8s;
        //border: 3px solid #000;
        left: 0;
        justify-content: space-between;

        .item-brand2 {
            min-width: 160px;
            margin-right: 10px;
            max-width: 180px;
        }
    }

}